This notebook is based on the following two notebooks:

https://gist.githubusercontent.com/kenjyco/69eeb503125035f21a9d/raw/learning-python3.ipynb

https://github.com/jvdkwast/Python3_Jupyter_Notebook/blob/7fa1d238d56b8baa6f19a90a37c273f8699c2bad/PythonIntroCh4.ipynb

## Quick note about Jupyter cells

When you are editing a cell in Jupyter notebook, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

#### Code cells

Re-running will execute any statements you have written. To edit an existing code cell, click on it.

#### Markdown cells

Re-running will render the markdown text. To edit an existing markdown cell, double-click on it.

<hr>

## Common Jupyter operations

Near the top of the Jupyter notebook window, there are a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

#### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell
- Use "Insert" -> "Insert Cell Above" from the menu to insert above

#### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

#### Save your notebook file locally

- Clear the output of all cells
- Use "File" -> "Download as" -> "IPython Notebook (.ipynb)" to download a notebook file representing your https://mybinder.org session

<hr>

## References

- https://jupyter-notebook.readthedocs.io/en/latest/notebook.html
- https://mybinder.readthedocs.io/en/latest/introduction.html
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [1]:
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [2]:
# Addition
num1 + num2

7

In [3]:
# Subtraction
num2 - num3

-10.41

In [4]:
# Multiplication
num3 * num4

-4.446

In [5]:
# Division
num4 / num5

-0.08571428571428572

In [6]:
# Exponent
num5 ** num6

343

In [7]:
# Increment existing variable
num7 += 4
num7

15.11

In [8]:
# Decrement existing variable
num6 -= 2
num6

1

In [10]:
# Multiply & re-assign
num3 *= 5
num3

185.25

In [11]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-545.75

In [12]:
# Are these two expressions equal to each other?
num1 + num2 == num5

True

In [13]:
# Are these two expressions not equal to each other?
num3 != num4

True

In [14]:
# Is the first expression less than the second expression?
num5 < num6

False

In [15]:
# Is this expression True?
5 > 3 > 1

True

In [16]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [17]:
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [18]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [19]:
# Notice that the string was not modified
simple_string1

'an example'

In [20]:
# Multiplication
simple_string2 * 4

'oranges oranges oranges oranges '

In [21]:
# This string wasn't modified either
simple_string2

'oranges '

In [23]:
# Are these two expressions equal to each other?
simple_string1 == simple_string2

False

In [24]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [25]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [26]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [25]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [27]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [28]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [29]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [30]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set1

{3, 5, 6, False, 'cat', 'dog'}

In [31]:
# Items in the dict object are not stored in the order they were added
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [32]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [33]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [34]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [35]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [36]:
# Access the first item in a sequence
list1[0]

3

In [37]:
# Access the last item in a sequence
tuple1[-1]

'grapes'

In [38]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [39]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [40]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [41]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [42]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [43]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [44]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [45]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [46]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [47]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [48]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [49]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [50]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [51]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [52]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [53]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [54]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [55]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [56]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [57]:
# Use the repr() function to return a string representation of an object
repr(set1)

"{False, 3, 5, 6, 'cat', 'dog'}"

## Python object attributes (methods and properties)

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [58]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [59]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [60]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [61]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [62]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [63]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [64]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [65]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [66]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [68]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [69]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [70]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [71]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [72]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

In [97]:
cats = ['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester']
print(cats)
cats.append('Catherine')
print(cats)

['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester']
['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester', 'Catherine']

In [98]:
del cats[1]
print(cats)

['Tom', 'Kitty', 'Jessie', 'Chester', 'Catherine']

## Some methods on dict objects

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

In [104]:
#Make the phone book:
phonebook = {'Andrew Parson':8806336, \
'Emily Everett':6784346, 'Peter Power':7658344, \
'Lewis Lame':1122345}
print(phonebook['Lewis Lame'])
print(phonebook)

1122345
{'Andrew Parson': 8806336, 'Emily Everett': 6784346, 'Peter Power': 7658344, 'Lewis Lame': 1122345}

In [105]:
#Add the person 'Gingerbread Man' to the phonebook:
phonebook['Gingerbread Man'] = 1234567
print(phonebook)

{'Andrew Parson': 8806336, 'Emily Everett': 6784346, 'Peter Power': 7658344, 'Lewis Lame': 1122345, 'Gingerbread Man': 1234567}

In [106]:
del phonebook['Andrew Parson']
print(phonebook)

{'Emily Everett': 6784346, 'Peter Power': 7658344, 'Lewis Lame': 1122345, 'Gingerbread Man': 1234567}

## Formatting strings and using placeholders

In [107]:
#giving variables text, and adding text.
word1 = "Good"
word2 = "morning"
word3 = "to you too!"
print(word1, word2)
sentence = word1 + " " + word2 + " " + word3
print(sentence)

Good morning
Good morning to you too!

In [108]:
text = "abcdefghij"
len(text)

10

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

In [112]:
# Example 'for' loop
# First, create a list to loop through:
newList = [45, 'eat me', 90210, "The day has come, the walrus said, to speak of many things", -67]

# create the loop:
# Goes through newList, and sequentially puts each bit of information
# into the variable value, and runs the loop
for value in newList:
    print(value)

45
eat me
90210
The day has come, the walrus said, to speak of many things
-67

In [110]:
# cheerleading program
word = 'Hello'

for letter in word:
    call = "Gimme a " + letter + "!"
    print(call)
    print(letter + "!")

print("What does that spell?")
print(word + "!")

Gimme a H!
H!
Gimme a e!
e!
Gimme a l!
l!
Gimme a l!
l!
Gimme a o!
o!
What does that spell?
Hello!

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

In [78]:
y = 1
if y == 1:
    print("y still equals 1, I was just checking")

y still equals 1, I was just checking

In [79]:
x = 10
while x != 0:
    print(x)
    x = x - 1
    print("wow, we've counted x down, and now it equals", x)
print("And now the loop has ended.")

10
wow, we've counted x down, and now it equals 9
9
wow, we've counted x down, and now it equals 8
8
wow, we've counted x down, and now it equals 7
7
wow, we've counted x down, and now it equals 6
6
wow, we've counted x down, and now it equals 5
5
wow, we've counted x down, and now it equals 4
4
wow, we've counted x down, and now it equals 3
3
wow, we've counted x down, and now it equals 2
2
wow, we've counted x down, and now it equals 1
1
wow, we've counted x down, and now it equals 0
And now the loop has ended.

In [80]:
print("We will show the even numbers up to 20")
n = 1
while n <= 20:
    if n % 2 == 0:
        print(n)
    n = n + 1
print("there, done.")

We will show the even numbers up to 20
2
4
6
8
10
12
14
16
18
20
there, done.

In [81]:
a = 1
if a > 5:
    print("This shouldn't happen.")
else:
    print("This should happen.")

This should happen.

## List, set, and dict comprehensions

You can create a list with a for-loop as below. This is called list comprehension and it is a very commonly used Python feature.

In [ ]:
# creates a list of numbers ranging from 0 to 9
[a for a in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

## Creating objects from arguments or other objects

The basic types and containers we have used so far all provide **type constructors**:

- `int()`
- `float()`
- `str()`
- `list()`
- `tuple()`
- `set()`
- `dict()`

Up to this point, we have been defining objects of these built-in types using some syntactic shortcuts, since they are so common.

Sometimes, you will have an object of one type that you need to convert to another type. Use the **type constructor** for the type of object you want to have, and pass in the object you currently have.

In [113]:
a = 7.3
type(a)

float

In [115]:
print(int(a))
print(type(int(a)))

7
<class 'int'>

## Importing modules

A module is a Python file that (generally) has only definitions of variables, functions, and classes.

In [ ]:
# import functions of the ASE module (ASE = Atomic Simulation Environment)
from ase.visualize import view
from ase.build import molecule

In [ ]:
# use the imported functions to create a molecule object, and visualize it
water = molecule('H2O')
view(water, viewer='x3d')

## Classes: Creating your own objects

In [73]:
# Define a new class called `Thing` that is derived from the base Python object
class Thing(object):
    my_property = 'I am a "Thing"'


# Define a new class called `DictThing` that is derived from the `dict` type
class DictThing(dict):
    my_property = 'I am a "DictThing"'

In [74]:
print(Thing)
print(type(Thing))
print(DictThing)
print(type(DictThing))
print(issubclass(DictThing, dict))
print(issubclass(DictThing, object))

<class '__main__.Thing'>
<class 'type'>
<class '__main__.DictThing'>
<class 'type'>
True
True

In [75]:
# Create "instances" of our new classes
t = Thing()
d = DictThing()
print(t)
print(type(t))
print(d)
print(type(d))

<__main__.Thing object at 0x7fc04ac8ae40>
<class '__main__.Thing'>
{}
<class '__main__.DictThing'>

In [74]:
# Interact with a DictThing instance just as you would a normal dictionary
d['name'] = 'Sally'
print(d)

{'name': 'Sally'}

In [75]:
d.update({
        'age': 13,
        'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'],
        'fav_color': 'green',
    })
print(d)

{'fav_color': 'green', 'name': 'Sally', 'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'], 'age': 13}

In [76]:
print(d.my_property)

I am a "DictThing"

## Defining functions and methods

Python has lots of pre-made functions, that you can use right now, simply by 'calling' them. 'Calling' a function involves you giving a function input, and it will return a value (like a variable would) as output. Here is the general form that calling a function takes:
**function_name(parameters)**

Function_name identifies which function it is you want to use. For example, the function hello(), which will be the first function that we will use.
Parameters are the values you pass to the function to tell it what is should do, and how to do it. If a function does not require any parameters, you can just call it with empty parentheses (e.g. `hello()`).

When you call a function, the code inside the function is executed. The function may print things to the screen, and it may return a value back to the main program. When a function returns a value, you can use that value in the main program as if it were a variable.

In [83]:
# Below is the function
def hello():
    print("hello")
    return 1234

In [84]:
# And here is the function being used
print(hello())

hello
1234

- when def hello() was run, a function called hello was created
- When the line print(hello()) was run, the function hello was executed (The code inside it was run)
- The function hello printed "hello" onscreen, then returned the number 1234 back to the main program
- The main program now sees the line as print("1234") and as a result, printed 1234

In [85]:
# Passing Parameters to functions
def funnyfunction(first_word,second_word,third_word):
    print("The word created is: " + first_word + second_word + third_word)
    return first_word + second_word + third_word

In [87]:
funnyfunction('Python ', 'is ', 'fun')

The word created is: Python is fun

'Python is fun'

In [91]:
# this adds two numbers given
def add(a,b):
    c = a + b
    print(a, "+", b, "=", c)
    return c

In [ ]:
sum = add(3, 5)
print(sum)

3 + 5 = 8
8